body {
    font-family: 'Varela Round', sans-serif;
    background: transparent;
}

table {
    border-collapse: collapse;
    background: transparent;
}

.carre {
    width: 150px;
    height: 150px;
    background-image: url(image-morpion/croix-rond.png);

}

#titre {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 80px;
    padding-top: 20px;
    color: black;
}

#a1 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#a2 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
    border-left: solid 10px black;
}

#a3 {
    border-bottom: solid 10px black;
    border-left: solid 10px black;
}

#b1 {
    border-right: solid 10px black;
    border-bottom: solid 10px black;
    border-top: solid 10px black;
}

#b2 {
    border: solid 10px black;

}

#b3 {
    border-left: solid 10px black;
    border-bottom: solid 10px black;
    border-top: solid 10px black;
}

#c1 {
    border-right: solid 10px black;
    border-top: solid 10px black;
}

#c2 {
    border-right: solid 10px black;
    border-left: solid 10px black;
    border-top: solid 10px black;

}

#c3 {
    border-left: solid 10px black;
    border-top: solid 10px black;
}

.jeu {
    margin-top: 30px;
    text-align: center;
    background: transparent;
}

#center {
    margin: auto;
}

#rejouer {
    position: fixed;
    right: 0px;
    bottom: 0px;
    text-align: right;
    display: block;
}

#modeJeu {
    position: fixed;
    text-align: center;
    display: block;
    left: 0px;
    bottom: 0px;
    
}

.bouton {
    font-size: 50px;
    background-color: #C3C2C2;
    border-radius: 20px;
    border: none;
    width: 500px;
}

#boutonRejouer {
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

.boutonMode {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

#animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}